# Ignore LaTeX auxiliary files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.synctex.gz
**/*.fdb_latexmk
**/*.fls
**/*.bbl
**/*.blg
**/*.run.xml
**/*.bcf

# minted 
_minted-*
**/*.listing

# script install log 
scripts/install.log

